@charset "UTF-8";

/* IR 기법 참조 */

.blind_area a,
.blind_area button {
  display: block; width: 100%; height: 100%;
  background-image: var(--path); 
  background-repeat: no-repeat; background-position: 50% 50%;
}

.blind_area a>span,
.blind_area button>span,
.blind {display:block; 
  position: absolute; z-index: -1;
  width: 0; height: 0; overflow: hidden;}

.clearfix { height:auto; }
.clearfix:after, 
.clearfix::after { content:""; display:block; width: 100%; height: auto; clear:both;}

.width_set {
  width: 100%; max-width: 1440px; height: 100%; margin:auto; }  

.content_wrapper { width: 100%; height: auto; }
.width_row {
  position: relative;
  width:100%; max-width:1100px; height: auto;
  margin:auto; background-color: #ccc;}


/*main_view_all 버튼*/
.main_view_all{
  width: 300px;
  height: 100px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.main_view_all p{
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100px;
}
/*main_view_all 버튼*/

/*main_view_left 버튼*/
.main_view_left{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}
.main_view_left .prev_button{
  width: 100px;
  height: 100px;
  background: url('https://api.iconify.design/bi/arrow-left-short.svg?width=16&height=16') no-repeat center center / contain;
}
/*main_view_left 버튼*/

/*main_view_right 버튼*/
.main_view_right{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}
.main_view_right .next_button{
  width: 100px;
  height: 100px;
  background: url('https://api.iconify.design/bi/arrow-right-short.svg?width=16&height=16') no-repeat center center / contain;
}
/*main_view_right 버튼*/