/*footer_box//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#footer_box {
    width: 100%;
    height: 324px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
}

/*FOOTER_WRAP_01 : SPC Footer logo 및 주소,정보, Footer 아이콘*/
.main_footer_wrap_01 {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
    height: 200px;
}

/*SPC Footer logo*/
.main_footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 200px;
    /* background-color: #8c94da; */
    background-color: transparent;
}

.main_footer_logo h1 {
    width: 100px;
    height: 100px;
    float: left;
}

.main_footer_logo a {
    width: 100px;
    height: 100px;
}

.main_footer_logo .footer_logo {
    width: 100px;
    height: 100px;
    background-image: url(../../img/main_img/footer_box/footer_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*SPC Footer logo*/

/* SPC Footer 주소 및 정보*/
.main_footer_info {
    margin-top: 50px;
}

.main_footer_info ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main_footer_info ul li:first-child {
    color: #23afe3;
}


.main_footer_icon_wrap {
    margin-top: 50px;
}

.main_footer_icon_wrap ul {
    display: flex;
    gap: 40px;
}

.main_footer_icon_wrap li {
    width: 100px;
    height: 100px;
}

.main_footer_icon_wrap li:nth-child(1) {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_happy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main_footer_icon_wrap li:nth-child(1):hover {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_happy_hov.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 700;
    cursor: pointer;
}

.main_footer_icon_wrap li:nth-child(2) {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_insta.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main_footer_icon_wrap li:nth-child(2):hover {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_insta_hov.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 700;
    cursor: pointer;
}

.main_footer_icon_wrap li:nth-child(3) {
    width: 80px;
    height: 40px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_facebook.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 20px;
}

.main_footer_icon_wrap li:nth-child(3):hover {
    width: 80px;
    height: 40px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_facebook_hov.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}

.main_footer_icon_wrap li .icon_text_facebook {
    width: 100px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 60px;
}

.main_footer_icon_wrap li:nth-child(4) {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_youtube.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main_footer_icon_wrap li:nth-child(4):hover {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_youtube_hov.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 700;
    cursor: pointer;
}

.main_footer_icon_wrap li:hover .font_18 {
    font-weight: 700;
}

.main_footer_icon_wrap .icon_text {
    width: 100px;
    text-align: center;
    margin-top: 80px;


    text-transform: capitalize;

}

/* SPC Footer 주소 및 정보*/
/*FOOTER_WRAP_01 : SPC Footer logo 및 주소,정보, Footer 아이콘*/


/*FOOTER_WRAP_02 : FAMILY SITE 버튼 */
.main_footer_wrap_02 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: #23afe3; */
    background-color: transparent;
}

.main_footer_wrap_02 .main_family_site {
    margin-left: 990px;
}

/*FAMILY SITE 버튼 */

/*footer_box//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/