#header_box{
    background-color: #ffffff !important;
}

#header_box .header_nav .main_li {
    color:#000000 !important;
}

#ceo_box1 {
    position: relative;
    width: 100%;
    height: 920px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    /* background-image: url(../../img/main_img/section_box1/main_bg_wrap/main_slide_01.jpg); */
    background-color: #fff;
    
}

#ceo_box1 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    /* width: 100%; */
    min-width: 300px;
    height: inherit;
    margin: auto;
    overflow: hidden;
    background-color: #ffa;
}