/*header/////////////////////////////////////////////////////////////////////////////////////////////*/
#header_box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    z-index: 1000;
    background-color: transparent;
    /* background-color: #fda;  */
}

#header_box:hover .main_li {
    color: #000000 !important;
}

/* header_box안의 컨테이너*/
#header_box .container {
    display: flex;
    justify-content: space-around;
    width: 1700px;
    max-width: 1920px;
    min-width: 300px;
    height: 50px;
    margin: auto;
    background-color: transparent;
    /* background-color:rgb(126, 199, 148);     */
}

/*logo */
#header_box .container h1 {
    width: 150px;
    height: 50px;
}

#header_box .container a {
    width: 150px;
    height: 50px;
}

.logo_img {
    width: 150px;
    height: 50px;
    background-image: url(../../img/main_img/header_box/gnb_logo_new.png);
    background-repeat: no-repeat;
    background-size: 150px 50px;
}

/*logo */
/*/////////////////////*/
/*navigation*/
#header_box .header_nav {
    width: auto;
    height: auto;
}

#header_box .header_nav h2 {
    width: 0;
    height: 0;
    overflow: hidden;
}/* 안보이게*/


/*기본 header 영역*/
#header_box .header_nav .main_menu {

    display: flex;
    gap: 90px;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

#header_box .header_nav .main_li {
    width: auto;
    height: auto;
    color: #000000 !important;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.header_nav .main_li a:hover {
    color: #23afe3;
    cursor: pointer;
}

#header_box .header_nav .main_li:last-child {
    width: 30px;
    height: 30px;
    background: url(../../img/main_img/header_box/global_icon_black.png) no-repeat center center / contain !important;
    cursor: pointer;
}/*기본 header 영역*/


/* 오버시 header 영역*/
#header_box .menu_hover_box {position:absolute; left:0; right:0; background:#fff; top:80px; height:0; border-top:1px solid #dddddd; transition:all .2s linear; -webkit-transition:all .2s linear; opacity:0;}
#header_box:hover .menu_hover_box {height:300px; opacity:1;}
#header_box .sub_menu_box {background:transparent; height:0; bottom:-1px; transition:all .2s linear; -webkit-transition:all .2s linear; opacity:0; visibility:hidden}
#header_box:hover .sub_menu_box {opacity:1; visibility:visible;}
#header_box .sub_menu {padding-top: 60px;}
#header_box .sub_menu li {padding-bottom: 15px;}
#header_box .sub_menu li a {position:relative; color:transparent; transition:all .2s linear; -webkit-transition:all .2s linear; }
#header_box .sub_menu li a:before {content:""; position:absolute; bottom:-4px; width:0; height:1px; left:50%; background:#23afe3; transition:all .2s linear; -webkit-transition:all .2s linear;}
#header_box:hover .sub_menu li a {margin-top:10px; color:#666;}
#header_box:hover .sub_menu li a:hover {color: #23afe3;}
#header_box:hover .sub_menu li a:hover:before {width:100%; left:0;}
/*navigation*/

/*header/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*section_box1///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#section_box1 {
    /* position: relative; */
    width: 100%;
    height: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f8f8f8;
    /* background-color: transparent; */
}

#section_box1 .container {
    /* position: relative; */

    width: 1440px;
    /* width: 100%; */
    max-width: 1920px;
    min-width: 300px;
    height: 250px;
    margin: auto;
    background-color: #f8f8f8;
    /* background-color: transparent; */
}

/*SPC_WAY_text_wrap*/
#section_box1 .spc_way_text_wrap_01 {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding-top:50px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--font-title_00);
}

#section_box1 .spc_way_text_wrap_01 h2 {
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;

}/*SPC WAY*/


#section_box1 .spc_way_text_wrap_01 p {
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;

    font-size: var(--font-content_03);
    color: #7d7d7d;
    font-weight: 400;
    font-size: 20px;
}/*건강과 행복 추구로 전 세계인에게 사랑받는 spc그룹이 되겠습니다.*/

/*section_box1///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*section_box2///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 배너 이미지 (상미당 bg)*/
#section_box2 {
    width: 100%;
    height: 683px;
    background-image: url(/img/spc_way_img/section_box2/sanmidang_bg.jpg);
    background-repeat: no-repeat;
    /* background-position:center; */
    background-size:cover;
}

/*section_box2///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*section_box3///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#section_box3 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: #d3d3d3;
    /* background-color: transparent; */
}

#section_box3 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    max-width: 1920px;
    min-width: 300px;
    height: 350px;
    margin: auto;
    background-color: #f8f8f8;
    /* background-color: transparent; */
}

.sangmidang_wrap {
    display: flex;
    width: 1350px;
    height: 300px;
    /* background-color: #e34; */
}

.sangmidang_image{
    width: 470px;
    height: 300px;
    background-image: url(/img/spc_way_img/section_box3/spc-way-img.png);
    background-repeat: no-repeat;
    background-size: cover;
} /* 상미당 이미지*/

.sangmidang_text{
    width: 880px;
    height: 300px;
    box-sizing: border-box;
    /* background-color: #e3f; */
    padding: 10px 30px;
} /*상미당 설명*/

.sangmidang_text p{
    width: 880px;
    height: 300px;
    font-size: 17px;
    font-weight: 400;
    line-height: 2;
}
/*section_box3///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*section_box4///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#section_box4 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: #666;
    /* background-color: transparent; */
}

#section_box4 .container {
    width: 1440px;
    max-width: 1920px;
    min-width: 300px;
    height: 650px;
    margin: auto;
    background-color: #dddddd;
    /* background-color: transparent; */
}

.spc_way_text_box_01{
    width: 100%;
    height: 300px;
    margin-top: 80px;
    background-color: red;
}

.spc_way_text_box_01 .spc_way_text_wrap_02 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
} /* 77년 늘 한결같이 .... */

.spc_way_text_box_01 .spc_way_text_wrap_03 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
} /* 가장 맛있고 건강한 빵으로 ... */

.spc_way_text_box_02{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background-color: red;
    box-sizing: border-box;
}

.spc_way_text_box_02 .spc_way_text_wrap_04{
    font-size: 24px;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 30px;
}

.spc_way_text_box_02 .spc_way_text_wrap_05{
    font-size: 24px;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 30px;
}

.spc_way_text_box_02 span{
    padding-right: 10px;
}

/*section_box4///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*section_box5///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#section_box5 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    background-image: url(/img/spc_way_img/section_box5/spc-way3-bg.jpg);
    /* background-color: transparent; */
} /*bg*/

#section_box5 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    max-width: 1920px;
    min-width: 300px;
    height: 400px;
    margin: auto;
    /* background-color: #6e6969; */
    box-sizing: border-box;
    background-color: transparent;
}

#section_box5 .spc_way_text_wrap_06 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
} /* 77년전 마음이 지금까지도 이어져, .... */

.spc_way_text_wrap_06 .font_85{
    font-size: 85px;
    font-weight: 700;
    color:var(--color-sky);
} /*77*/

#section_box5 .spc_way_text_wrap_07 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 100px;
    text-align: center;
    color: #fff;
}/*여전히 SPC인들의 DNA로 생생하게 남아 제품 하나하나에 열정과 정성을 다하는 힘이 되고 있습니다.*/

/*section_box5///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*section_box6///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#section_box6 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: #666;
    /* background-color: transparent; */
}

#section_box6 .container {
    width: 1440px;
    max-width: 1920px;
    min-width: 300px;
    height: 1150px;
    margin: 0 auto;
    background-color: #dddddd;
    /* background-color: transparent; */
}

/*카드 */
#section_box6 .card_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1340px;
    height: 400px;
    margin: 0 auto;
    background-color: #5f7e6b;
} /*카드 박스 */

#section_box6 .card_box .card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 610px;
    height: 310px;
    background-color: #fff;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #4b4b4b;
} /*카드 */

.card_box .card .outline{
    
    width: 600px;
    height: 300px;
    border-radius: 30px;
    background-color: red;
    text-align: center;
} /* 카드 안쪽 박스*/

#section_box6 .card .card_title{
    width: 120px;
    height: 40px;
    margin: 30px auto;
    background-color: #1ca3df;
    border-radius: 40px;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
} /*경영철학, 비전*/

#section_box6 .card .card_text_01{
    text-transform: uppercase;
} /*카드 텍스트*/

#section_box6 .card_ul {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
} /*카드 */

/* 트리 */
#section_box6 .tree_box {
    width: 1440px;
    height: 710px;
    margin: 40px auto;
    background-color: #53599c;
}/*트리 박스*/

#section_box6 .tree_text_wrap{
    width: 100%;
    height: 200px;
    padding-top: 50px;
} /* 트리 텍스트*/

#section_box6 .tree_title{
    width: 120px;
    height: 40px;
    background-color: #1ca3df;
    border-radius: 40px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    margin-bottom: 30px;
} /* 트리 제목*/

#section_box6 .tree_text_wrap .tree_text_01{
    text-transform: uppercase;
    text-align: center;
} /* 트리 설명01*/

#section_box6 .tree_text_wrap .tree_text_02{
    text-transform: uppercase;
    text-align: center;
} /* 트리 설명02*/

#section_box6 .tree_box .tree_arrow_image {
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    background-image: url(/img/spc_way_img/section_box6/spc-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
} /* 트리 화살표 이미지*/

















































/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*footer_box//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#footer_box {
    width: 100%;
    height: 324px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
}

/*FOOTER_WRAP_01 : SPC Footer logo 및 주소,정보, Footer 아이콘*/
.main_footer_wrap_01 {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
    height: 200px;
}

/*SPC Footer logo*/
.main_footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 200px;
    /* background-color: #8c94da; */
    background-color: transparent;
}

.main_footer_logo h1 {
    width: 100px;
    height: 100px;
    float: left;
}

.main_footer_logo a {
    width: 100px;
    height: 100px;
}

.main_footer_logo .footer_logo {
    width: 100px;
    height: 100px;
    background-image: url(../../img/main_img/footer_box/footer_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*SPC Footer logo*/

/* SPC Footer 주소 및 정보*/
.main_footer_info {
    margin-top: 50px;
}

.main_footer_info ul {
    width: 600px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main_footer_info ul li:first-child {
    color: #23afe3;
}


.main_footer_icon_wrap {
    margin-top: 50px;
}

.main_footer_icon_wrap ul {
    display: flex;
    gap: 40px;
}

.main_footer_icon_wrap li {
    width: 100px;
    height: 100px;
}

.main_footer_icon_wrap li:nth-child(1) {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_happy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main_footer_icon_wrap li:nth-child(1):hover {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_happy_hov.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 700;
    cursor: pointer;
}

.main_footer_icon_wrap li:nth-child(2) {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_insta.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main_footer_icon_wrap li:nth-child(2):hover {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_insta_hov.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 700;
    cursor: pointer;
}

.main_footer_icon_wrap li:nth-child(3) {
    width: 80px;
    height: 40px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_facebook.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 20px;
}

.main_footer_icon_wrap li:nth-child(3):hover {
    width: 80px;
    height: 40px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_facebook_hov.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}

.main_footer_icon_wrap li .icon_text_facebook {
    width: 100px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 60px;
}

.main_footer_icon_wrap li:nth-child(4) {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_youtube.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main_footer_icon_wrap li:nth-child(4):hover {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    background-image: url(../../img/main_img/footer_box/footer_sns_youtube_hov.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 700;
    cursor: pointer;
}

.main_footer_icon_wrap .icon_text {
    width: 100px;
    text-align: center;
    margin-top: 80px;


    text-transform: capitalize;

}

/* SPC Footer 주소 및 정보*/
/*FOOTER_WRAP_01 : SPC Footer logo 및 주소,정보, Footer 아이콘*/


/*FOOTER_WRAP_02 : FAMILY SITE 버튼 */
.main_footer_wrap_02 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: #23afe3; */
    background-color: transparent;
}

.main_footer_wrap_02 .main_family_site {
    margin-left: 990px;
}

/*FAMILY SITE 버튼 */

/*footer_box//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/