/*header/////////////////////////////////////////////////////////////////////////////////////////////*/
#header_box {
  display: flex; align-items: center;
    position: fixed;  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  z-index: 1000;
  background-color: #ffffff;
  opacity: 0.9;
}

#header_box:hover .main_li {
  color: #000000 !important;
}

/* header_box안의 컨테이너*/
#header_box .container {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  max-width: 1920px;
  min-width: 300px;
  height: 50px;
  margin: auto;
  background-color: transparent;
  /* background-color:rgb(126, 199, 148);     */
}

/*logo */
#header_box .container h1 {
  width: 150px;
  height: 50px;
}

#header_box .container a {
  width: 150px;
  height: 50px;
}

.logo_img {
  width: 150px;
  height: 50px;
  background-image: url(../../img/main_img/header_box/gnb_logo_gray.png);
  background-repeat: no-repeat;
  background-size: 150px 50px;
}

/*logo */
/*/////////////////////*/
/*navigation*/
#header_box .header_nav {
  width: auto;
  height: auto;
}

#header_box .header_nav h2 {
  width: 0;
  height: 0;
  overflow: hidden;
}/* 안보이게*/


/*기본 header 영역*/
#header_box .header_nav .main_menu {

  display: flex;
  gap: 140px;
  align-items: center;
  height: 100%;
  list-style-type: none;
}

#header_box .header_nav .main_li {
  width: auto;
  height: auto;
  color: #000000 !important;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.header_nav .main_li a:hover {
  color: #23afe3;
  cursor: pointer;
}

#header_box .header_nav .main_li:last-child {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(../../img/main_img/header_box/global_icon_black.png) no-repeat center center / contain !important;
  cursor: pointer;
}

.global_logo{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 60px; height: 140px;
  background-color: transparent;
}

#header_box .header_nav .scroll_language{
  display: none;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 60px;
  height: 90px;
  box-shadow: 0 0 13px #ccc;
  background-color: #fff;
  color: #000000;
  z-index: 100;
  cursor: pointer;
} /* 내비게이션 바 메인 메뉴 global 로고 오버시 -> 스크롤 언어 영역*/

#header_box .header_nav .scroll_language_block{
  display: block;
} /* 내비게이션 바 메인 메뉴 global 로고 오버시 -> 스크롤 언어 영역 보이게 끔*/

#header_box .header_nav .scroll_language_li{
  padding: 5px;
} /* 내비게이션 바 메인 메뉴 global 로고 오버시 -> 스크롤 언어 영역 -> li 요소 (KR,EN,CN)*/

/*기본 header 영역*/


/* 오버시 header 영역*/
#header_box .menu_hover_box {position:absolute; left:0; right:0; background:#fff; top:80px; height:0; border-top:1px solid #dddddd; transition:all .2s linear; -webkit-transition:all .2s linear; opacity:0;}
#header_box:hover .menu_hover_box {height:300px; opacity:1;}
#header_box .sub_menu_box {background:transparent; height:0; bottom:-1px; transition:all .2s linear; -webkit-transition:all .2s linear; opacity:0; visibility:hidden}
#header_box:hover .sub_menu_box {opacity:1; visibility:visible;}
#header_box .sub_menu {padding-top: 60px;}
#header_box .sub_menu li {padding-bottom: 15px;}
#header_box .sub_menu li a {position:relative; color:transparent; transition:all .2s linear; -webkit-transition:all .2s linear; }
#header_box .sub_menu li a:before {content:""; position:absolute; bottom:-4px; width:0; height:1px; left:50%; background:#23afe3; transition:all .2s linear; -webkit-transition:all .2s linear;}
#header_box:hover .sub_menu li a {margin-top:10px; color:#666;}
#header_box:hover .sub_menu li a:hover {color: #23afe3;}
#header_box:hover .sub_menu li a:hover:before {width:100%; left:0;}
/*navigation*/

/*header/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* section //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#startup_wrap {
  width: 100%; height:800px;
  padding-top: 80px; 
  background-color: #fff;
}

#startup_wrap .startup_title {
  padding: 100px 50px 10px;
  width: 77%; max-width: 1550px;
  margin: 0 auto;
 }

 #startup_wrap .startup_title h2 {
  font-size: 4.0625rem;
  margin-bottom: 20px;
 }

.desc {
  font-size: 1.125rem; color: #7d7d7d;
}

/*/////////////////////////////////////////////////////////////////*/

.startup_box{
  position: relative;
  display: flex; align-items: center; justify-content: center;
  width: 1500px;
  height: 500px;
  margin-bottom: 100px;
  margin: 0 auto;
  overflow: hidden;
} /*SPC startup 박스 -> startup 박스*/

.startup_card_box{
  display: flex; justify-content: center;
  width: 1440px;
  height: 300px;
  margin: 0 auto;
} /*SPC startup 박스 -> startup 박스 -> startup 카드 박스*/

.startup_arrow_box{
  position: absolute; left: -30px; top: 50%;
  transform: translateY(-50%);
  display: flex; justify-content: space-between;
  width: 1560px; height: 50px;
  z-index: 10;
} /*SPC startup 박스 -> startup 박스 -> 이전, 다음 버튼 영역 */

.startup_card_box .prev_button{
  position: absolute; left: 1%; top: 55%;
  transform: translateY(-50%);
  width: 50px; height: 50px;
  background: url('https://api.iconify.design/ic/outline-navigate-before.svg') no-repeat center center / contain;
  z-index: 1;
} /*SPC startup 박스 -> startup 박스 -> 이전, 다음 버튼 영역 -> 이전 버튼 */

.startup_card_box .prev_button:hover{
  background: url('https://api.iconify.design/ic/outline-navigate-before.svg?color=%2323afe3') no-repeat center center / contain;
  cursor: pointer;
} /*SPC startup 박스 -> startup 박스 -> 이전, 다음 버튼 영역 -> 이전 버튼 : 오버시*/

.startup_card_box .next_button{
  position: absolute; right: 1%; top: 55%;
  transform: translateY(-50%);
  width: 50px; height: 50px;
  background: url('https://api.iconify.design/ic/outline-navigate-next.svg') no-repeat center center / contain;
  z-index: 1;
} /*SPC startup 박스 -> startup 박스 -> 이전, 다음 버튼 영역 -> 다음 버튼 */

.startup_card_box .next_button:hover{
  background: url('https://api.iconify.design/ic/outline-navigate-next.svg?color=%2323afe3') no-repeat center center / contain;
  cursor: pointer;
} /*SPC startup 박스 -> startup 박스 -> 이전, 다음 버튼 영역 -> 다음 버튼 : 오버시*/

.startup_card_ul{
  display: flex; justify-content: space-between; align-items: center;
  width: 100%;
  height: 300px;
} /*SPC startup 박스 -> startup 카드 박스 ul*/

.startup_card_li{
  width: 250px; height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 13px #ccc;
} /*SPC startup 박스 -> startup 카드 박스 li*/

.startup_card_image{
  width: 250px; height: 250px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
} /*SPC startup 박스 -> startup 카드 이미지

/* //////////////SPC STARTUP 박스 -> STARTUP 카드 이미지 경로 모음 ////////////// */
.startup_card_image_01{
  background-image: url("../../img/spc_startup_img/startup_image_01.png");
}

.startup_card_image_02{
  background-image: url("../../img/spc_startup_img/startup_image_02.png");
}

.startup_card_image_03{
  background-image: url("../../img/spc_startup_img/startup_image_03.png");
}

.startup_card_image_04{
  background-image: url("../../img/spc_startup_img/startup_image_04.png");
}

.startup_card_image_05{
  background-image: url("../../img/spc_startup_img/startup_image_05.png");
}

.startup_card_image_06{
  background-image: url("../../img/spc_startup_img/startup_image_06.png");
}/* //////////////SPC STARTUP 박스 -> STARTUP 카드 이미지 경로 모음 ////////////// */


.startup_link {
  width: 250px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 0 13px #ccc;
  margin: 50px 0;
}/* //////////////SPC STARTUP 박스 -> STARTUP 카드 -> 창업정보 바로보기 버튼 ////////////// */


.startup_link:hover{
  color: #ffffff;
  background-color: #23afe3;
}/* //////////////SPC STARTUP 박스 -> STARTUP 카드 -> 창업정보 바로보기 버튼 ////////////// */


.startup_link a{
  display: block;
}/* //////////////SPC STARTUP 박스 -> STARTUP 카드 -> 창업정보 바로보기 버튼 ////////////// */